/*

# fonts:

font-family: 'Pacifico', cursive;
font-family: 'Roboto Mono', monospace;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

# colours:

main : #43B3A7
main-accent : #A5F1E9
second : #FFEBAD
second-accent : ##D8C487

 */

html {
    scroll-behavior: smooth;
}
body {
    background-color: #43b3a7;
    border: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #FFEBAD;
}
p {
    font-family: 'Roboto Mono', monospace;
}
nav {
    position: fixed;
    right: 0;
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    padding: 12px 18px;
    transition: background-color 0.4s ease-out;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
nav.scroll {
    background-color: #43b3a7;
    box-shadow: 0px 4px 7px #43b3a7;
  }
.nav-ul {
    align-self: flex-end;
    margin-right: 1rem;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-li {
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.1rem;
    color: #FFEBAD;
}
.nav-li:hover, 
.nav-li:focus {
    color: #FFF6BF;
    text-decoration: underline;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 9rem;
    color: #A5F1E9;
    margin: 0 0 2rem 0;
}
.hero-img {
    width: 16rem;
    height: 16rem;
    margin: 6rem 0 0 0;
    border: 1rem solid #A5F1E9;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(/images/heike.jpg);
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position: center;
}

#arrow-down {
    text-align: center;
    transform: rotate(90deg)

}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-main {
    min-width: 50%;
    max-width: 50rem;
    min-height: 40vh;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-main-1 {
    margin-top: 10rem;
}
.greeting {
    background-color: #D8C487;
    padding: 3rem;
    border-radius: 10px;
}
.greeting-h1 {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
.greeting-text {
    margin: 0;
}
.section-main-h1 {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
.devider {
    width: 25vw;
    border-width: 1rem 0 0 0;
    border-top: 0.5rem dotted #A5F1E9;
    margin: 10rem 0;
}
#section-main-2 {
    background-color: #FFEBAD;
    padding: 3rem;
    border-radius: 10px;    
    margin-bottom: 10rem;
}
.projects-link {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-decoration: underline;

}
.projects-link:visited {
    color: black;
    text-decoration: underline;
}
#back-to-top {
    transform: rotate(-90deg)
}
footer {
    text-align: center;
    color: #FFEBAD;
}